{% extends "master.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block title %}
        My Tennis Club - List of all members
    {% endblock %}
</head>
<body>
    {% block content %}
    <p><a href="/">Home</a></p>
    <h1>Members</h1>
    <ul>
        {% for x in mymembers %}
        <li><a href="members/details/{{x.id}}"> {{ x.firstname }} {{ x.lastname }}</a></li>
        {% endfor %}
    </ul>
    {% endblock %}

</body>
</html>